@model IEnumerable<Pessoas.Models.PessoaEF>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pessoas Cadastradas</title>
</head>
<body>
    <h1>Cadastro de PessoasEF</h1>
    <p>
        <!-- uso de TagHelpers para definir o Controller e a Action -->
        <a asp-controller="PessoaEF" asp-action="Cadastrar">Novo Cadastro</a>
    </p>

    <!-- Verifica se a chave "Mensagem" existe no TempData -->
    @if (@TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            <!-- Imprime para o usuário a mensagem -->
        @TempData["Mensagem"]
        </div>
    }


    <table class="table" border="1">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.idPessoa</label>
                </td>
                <td>
                    <label>@item.Name</label>
                </td>
                 <td>
                    <label>@item.Address</label>
                </td>
                <td>

                    <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                    <a asp-controller="PessoaEF"
                   asp-action="Editar"
                   asp-route-id="@item.idPessoa">Editar</a>

                    <a asp-controller="PessoaEF"
                   asp-action="Consultar"
                   asp-route-id="@item.idPessoa">Consultar</a>

                    <a asp-controller="PessoaEF"
                   asp-action="Excluir"
                   asp-route-id="@item.idPessoa">Excluir</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>